@import "tailwindcss";

@theme {
  --font-sans: "Fira Sans", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Fira Code", ui-monospace, monospace;
  --color-primary: #9b3dcc;
  --color-primary-light: #f5effe;
}
